<div class="flex">
  <div class="mb24">
    <div *ngFor="let user of users$ | async; trackBy: userTrackByFn" class="mb16 flex m-row" [ngClass]="{mb24: last}">
      <!-- <mat-checkbox (change)="updateSelectedArr()"></mat-checkbox> -->
      <div class="ml8">
        <div class="mb4">Name: {{user.name}}</div>
        Email: <mat-form-field>

          <input matInput [value]="user.email" type="email" (input)="onEmailInput($event, user.id)" />
        </mat-form-field>
      </div>
    </div>
    <button mat-stroked-button color="primary" [disabled]="!(usersChanged$ | async)">Save changes</button>
    <button mat-stroked-button color="primary" class="ml8" (click)="addUser()">Add user</button>
  </div>
  <div class="ml16">
    <pre>
{{users$ | async | json}}
    </pre>
  </div>
  <ul class="ml16">
    <!-- <li *ngFor="let selectedUser of selectedUsers">{{selectedUser.name}}</li> -->
  </ul>
</div>