<div class="mb24">
  <div *ngFor="let user of usersView" class="mb16 flex m-row">
    <mat-checkbox [(ngModel)]="user.selected"></mat-checkbox>
    <div class="ml8">
      <div class="mb4">Name: {{user.name}}</div>
      Email: <mat-form-field>
        <input matInput type="email" [(ngModel)]="user.email" #ctrl="ngModel" (ngModelChange)="compareArrays()" />
      </mat-form-field>
    </div>
  </div>

</div>
<button mat-stroked-button color="primary" [disabled]="usersArrNotChanged" (click)="saveChanges()">Save changes
  {{usersArrNotChanged}}</button>
<button mat-stroked-button color="primary" class="ml8" (click)="addUser()">Add
  user</button>